{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ClientAddress list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Line1</th>
                <th>Line2</th>
                <th>Postcode</th>
                <th>Country</th>
                <th>City</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('clientaddress_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.line1 }}</td>
                <td>{{ entity.line2 }}</td>
                <td>{{ entity.postcode }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.city }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('clientaddress_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('clientaddress_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('clientaddress_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
